# D435i Depth port records
# Macros: P, R, PORT, ADDR, TIMEOUT

record(longin, "$(P)$(R)ArrayCounter_RBV") {
    field(DTYP, "asynD435iDepth")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ARRAY_COUNTER")
    field(SCAN, "I/O Intr")
}

record(longin, "$(P)$(R)ArraySizeX_RBV") {
    field(DTYP, "asynD435iDepth")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ARRAY_SIZE_X")
    field(SCAN, "I/O Intr")
}

record(longin, "$(P)$(R)ArraySizeY_RBV") {
    field(DTYP, "asynD435iDepth")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ARRAY_SIZE_Y")
    field(SCAN, "I/O Intr")
}

record(longin, "$(P)$(R)UniqueId_RBV") {
    field(DTYP, "asynD435iDepth")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))UNIQUE_ID")
    field(SCAN, "I/O Intr")
}

record(bo, "$(P)$(R)ArrayCallbacks") {
    field(DTYP, "asynD435iDepth")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ARRAY_CALLBACKS")
    field(ZNAM, "Disable")
    field(ONAM, "Enable")
}

record(bi, "$(P)$(R)ArrayCallbacks_RBV") {
    field(DTYP, "asynD435iDepth")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))ARRAY_CALLBACKS")
    field(ZNAM, "Disable")
    field(ONAM, "Enable")
    field(SCAN, "I/O Intr")
}

record(ai, "$(P)$(R)TimeStamp_RBV") {
    field(DTYP, "asynD435iDepth")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))TIMESTAMP")
    field(PREC, "3")
    field(SCAN, "I/O Intr")
}

record(stringin, "$(P)$(R)Manufacturer_RBV") {
    field(DTYP, "asynD435iDepth")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))MANUFACTURER")
    field(SCAN, "I/O Intr")
}

record(stringin, "$(P)$(R)Model_RBV") {
    field(DTYP, "asynD435iDepth")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))MODEL")
    field(SCAN, "I/O Intr")
}
